footer {
  width: 100%;
}

#uitweak_widget_site_footer_wrap {
  width: 100%;
  overflow: auto;
}

.uitweak_widget_site_footer_container {
  margin-right: auto;
  margin-left: auto;
}

.uitweak_widget_site_footer_main {
  padding: 5px 15px 13px;
  width: 100%;
}

.uitweak_widget_site_footer_title {
  border-bottom: 1px dotted #a3a3a3;
  margin-bottom: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 0.1em;
}

.uitweak_widget_site_footer_main p {
  padding-left: 0.1em;
  text-align: justify;
}

.uitweak_copyright:before {
  content: '©';
  padding-right: 5px;
}

.uitweak_copyright {
  float: right;
}

@media (min-width: 768px) {
  .uitweak_widget_site_footer_container {
    width: 750px;
  }
  .uitweak_widget_site_footer_main {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .uitweak_widget_site_footer_container {
    width: 970px;
  }

}

@media (min-width: 1200px) {
  .uitweak_widget_site_footer_container {
    width: 1170px;
  }
}
