.uitweak_widget_site_footer_main {
  display: inline-block;
}

.uitweak_widget_site_footer_menu_wrap {
  display: inline-block;
  float: right;
}

.uitweak_widget_site_footer_menu {
  margin-left: 10%;
  width: 40%;
  float: right;
}
.uitweak_widget_site_footer_title_place_hold {
  display: none;
}

.uitweak_widget_site_footer_menu a,
.uitweak_widget_site_footer_menu a:hover,
.uitweak_widget_site_footer_menu a:active {
  text-align: right;
  display: block;
  color: black;
  border-top: 1px dotted #a3a3a3;
  line-height: 40px;
  text-decoration: none;
}

.uitweak_widget_site_footer_menu a:last-child {
  border-bottom: 1px dotted #a3a3a3;
}

.uitweak_widget_site_footer_menu_wrap {
  float: inherit;
  width: 100%;
  padding: 0 15px;
}

.uitweak_copyright {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .uitweak_widget_site_footer_menu_wrap,
  .uitweak_copyright {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .uitweak_widget_site_footer_main {
    width: 59%;
  }
  .uitweak_widget_site_footer_menu_wrap {
    float: right;
    width: 40%;
  }
  .uitweak_widget_site_footer_title_place_hold {
    display: inherit;
  }
}

@media (min-width: 1200px) {
  .uitweak_widget_site_footer_main {
    width: 49%;
  }
  .uitweak_widget_site_footer_menu_wrap {
    width: 50%;
  }
  .uitweak_widget_site_footer_menu {
    width: 35%;
  }
}
