.uitweak_widget_site_banner_wrap {
  width: 100%;
}

.uitweak_widget_site_banner {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.uitweak_widget_site_banner__logo {
  height: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .uitweak_widget_site_banner {
    width: 750px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .uitweak_widget_site_banner {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .uitweak_widget_site_banner {
    width: 1170px;
  }
}
